input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}


.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 5px 5px;
  margin-top: 6px;
  border: 2px solid black;
  border-radius: 5px;
  background: #757d77;
}
